.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 58px;
  padding: 24px;

  font-size: $fontSize;
  font-family: $fontFamily;

  background-color: $themeColorSecond;
  border: 1px solid $themeColorSecond;
  border-radius: 3px;
  color: $themeColor;
  font-weight: 600;
  cursor: pointer;
}

.button-wrapper {
  border: none;
  min-width: 200px;
}

.login-icon-wrapper {
  border: none;
  background-color: $white;
  min-width: unset;
}

.button-login {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
