.catalog {
  &__clothing {
    &__sort-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 10px 20px;

      button {
        width: 30%;
        border: none;
        font-size: 14px;
      }
    }
  }

  &__product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 120px;
  }
}
