.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid rgb(236, 234, 234);

  &__first-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
  }

  &__second-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;

    > div {
      cursor: pointer;
    }

    img {
      display: flex;
      width: 30px;
      height: 30px;
      color: $themeColor;
    }
  }

  &__search {
    &__icon {
      display: flex;
      svg {
        path {
          stroke: $black;
        }
      }
    }

    &__icon-closed {
      display: none;
    }

    &__input {
      display: flex;
      align-items: center;

      border: 1px solid $themeColor;
      border-radius: 3px;
      input {
        display: flex;
        align-items: center;
        height: $headerHeight;
        width: 100%;
        padding: unset;
        margin-left: 5px;

        border: none;

        font-family: $fontFamily;
        font-size: $fontSize;

        &::placeholder {
          color: $themeColor;
          padding-left: 24px;
        }

        &:focus {
          outline: $black;
        }
      }

      > div {
        padding: 0 10px;
      }
    }
  }

  &__search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

    > div:first-of-type {
    }
  }

  &__search-wrapper-clicked {
    display: unset;
    position: absolute;
    width: 80%;
    left: 90px;
  }

  &__cart-wrapper-badge {
    li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 50px;
      padding: 5px;
    }
    [data-badge] {
      position: relative;
      cursor: pointer;
      &:after {
        position: absolute;
        top: -5px;
        min-width: 10px;
        min-height: 10px;
        line-height: 10px;
        padding: 5px;
        color: $themeColor;
        background-color: $themeColorSecond;
        font-size: 10px;
        font-weight: 600;
        border-radius: 20px;
        content: attr(data-badge);
        border: solid 1px $themeColorSecond;
      }
    }
  }
}

.search {
  &__results {
    p {
      padding: 40px 0 20px;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
  }
}
