.sidebar-catalog {
  display: flex;
  flex-wrap: wrap;
  background-color: $themeColorSecond;
  border-radius: 3px;

  position: absolute;
  top: 100px;

  &__group {
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__title {
      font-size: 18px;
      padding-bottom: 10px;
      color: $themeColor;
    }

    &__wrapper {
      border-left: 1px solid $themeColor;
      margin-top: 10px;
      padding-left: 10px;
    }
  }

  &__product-type {
    padding: 10px 0;
    cursor: pointer;
  }
  //   text-align: left;
  //   text-transform: uppercase;
  //   font-size: 14px;
  //   font-weight: 600;
  //   padding: 5px 0;
}
