// Color palette

$white: #fff;
$offWhite: #eee;
$floralWhite: #fffaf0;
$babyPowder: #fefefa;
$black: #000;
$mint: #fd7b3f;
$lightMint: #ffddcc;
$danger: rgb(240, 27, 27);

// Widths and heights

$headerHeight: 56px;
